<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create user form</title>
</head>
<body>
    <h4>User 登録している?</h4>
    {% if post_id %}
    <form action="{% url 'jantama_app:edit_match_post' post_id=post_id %}" method="post">
    {% else %}
    <form action="{% url 'jantama_app:create_match_post' %}" method="post">
    {% endif %}
        {% csrf_token %}
        {{ form }}
            <button type="submit">送信</button>
    </form>
    <a href="{% url 'jantama_app:create_match_post' %}">もう登録してる</a>
</body>
</html>